.navbar-brand {
    font-size: 2rem !important;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar-toggler {
    border: none;
}

.bg-primary {
    background-color: #6495ED !important;
}

.bg-secondary {
    background-color: lightgray !important;
}