.navbar-brand {
    font-size: 2rem !important;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar-toggler {
    border: none;
}
<<<<<<< HEAD

.bg-primary {
    background-color: #6495ED !important;
}

.bg-secondary {
    background-color: lightgray !important;
}
=======
>>>>>>> e7da8e8f8e0b6b60bfeab040ba12b05eedcebef9
