<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="icon" href="/img/favicon.svg">
    <title>{{.Title}}</title>
</head>

<body>
    {{template "navbar" .Title}}
    <main class="container">
        <section>
            <h4 class="mt-4">Github</h4>
            {{range $i, $e := .Repos}} {{if mod $i}}
            <div class="row">
                {{end}}
                <div class="col-sm">
                    <article class="card my-3">
                        <div class="card-body">
                            <h6 class="card-title">{{.Name}}</h6>
                            <p class="card-subtitle">{{.Description}}</p>
                            <a href="{{ .URL }}" target="_blank" class="btn btn-primary">Read More</a>
                        </div>
                    </article>
                </div>
                {{if not (mod $i)}}
            </div>
            {{end}}
            {{end}}
        </section>
        <section>
            <h4 class="mt-4">IOT</h4>
            <div class="row">
                <div class="col-sm">
                    <article class="card my-3">
                        <div class="card-body">
                            <h6 class="card-title">Home Assistant</h6>
                            <p class="card-subtitle">Home Assistant hosted on Proxmox</p>
                            <a href="#" target="_blank" class="btn btn-primary">Read More</a>
                        </div>
                    </article>
                </div>
            </div>
        </section>
    </main>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"
        defer></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"
        defer></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"
        defer></script>
</body>

</html>